.upload-wrap {
  @apply flex w-full h-40 bg-grey-light relative mb-lg px-sm border border-border border-dashed;
  max-width: 540px;

  img {
    display: block;
    margin-top: 58px;
    margin-left: calc(50% - 23px);
    height: 42px;
    width: 46px;
  }

  svg {
    display: block;
    margin-top: 58px;
    margin-left: calc(50% - 23px);
    height: 42px;
    width: 46px;
  }

  input {
    @apply absolute w-full h-full opacity-0 top-0;
  }
}

.multi-upload-wrap {
  @apply flex mb-lg;

  div {
    display: block;
    position: relative;
    background-color: theme(colors.grey.light);
    width: calc((100% - 16px) / 3);
    margin-right: 8px;

    .delete {
      position: absolute;
      height: 24px;
      width: 24px;
      border-radius: 100%;
      top: 2px;
      right: 2px;
    }
  }

  .upload-img-container {
    border: 1px dashed theme(colors.border);
    margin: 0 !important;

    img {
      margin-left: auto;
      margin-right: auto;
      padding-top: calc(33% - 21px);
    }

    svg {
      @apply flex;
      margin: auto;
    }

    svg {
      margin-left: auto;
      margin-right: auto;
      top: calc(50% - 21px);
      position: relative;
    }

    input {
      @apply absolute w-full h-full opacity-0 top-0;
    }
  }
}

.upload-file-max-width {
  max-width: 540px;
}

.upload-file {
  .uploaaad {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #95afe0;
    font-weight: 700;
    color: white;
    position: relative;
    padding-left: 8px;
    padding-right: 16px;
    border-radius: 0.375rem 0 0 0.375rem;
    cursor: pointer;
    div {
      margin-top: 0 !important;
      padding-left: 0;
    }
    .input-mirror-selector-button {
      width: 100% !important;
      height: 100% !important;
      cursor: pointer;
      input {
        cursor: pointer;
      }
    }
    input {
      width: 100% !important;
      height: 100% !important;
      cursor: pointer;
    }
    .upload-button {
      margin-top: 0;
      cursor: pointer;
    }
    .file-upload-status {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .tag-container {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 50%;
    margin-left: 5px;
    padding-left: 0;

    ::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;

    .tag {
      display: flex;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
      .text {
        max-width: calc(100% - 25px);
      }
    }
  }
}

.upload-file {
  min-height: 40px;
  @apply relative border border-input-border w-full rounded-md;

  div {
    @apply flex flex-row h-full items-center pl-md mt-sm flex-wrap;

    .file-upload-status {
      @apply text-body-s-dt ml-sm;
    }
  }
  input {
    width: 160px;
    @apply absolute top-0 left-0 opacity-0 h-full;
  }
}

@screen dt {
  .multi-upload-wrap img {
    width: 100%;
    height: 158px;
  }
}

.ws-doc-upload {
  .label-field-pair {
    justify-content: flex-end;
  }
}
